@page "/employeedetail/{id}"

<h3>Detail Employee</h3>

<p>Employee Id : @Employee.EmployeeId</p>
<p>First Name : @Employee.FirstName</p>
<p>Last Name : @Employee.LastName</p>
<p>Email : @Employee.Email</p>
<p>Date Of Birth : @Employee.dateOfBirth</p>
<p>Gender : @Employee.Gender</p>
<p>Department Id : @Employee.DepartmentId</p>
<p>Department Name : @Employee.DepartmentName</p>
<p>PhotoPath : @Employee.PhotoPath</p>